:root{
    --boleaner-pattern: #4ea0ff;
    --first-line-table: #20a9e5;
    --second-line-table: #b1e5f2;
}

body{
    border: 0;
}

#pattern-header{
    background-color: var(--boleaner-pattern);
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 100px;
}

#logo-pattern{
    width: 100px;
    margin-top: 60px;
}


h1{
    margin: 0;
}

h5{
    margin: 0;
}

h6{
    margin: 0;
}

.first-line{
    background-color: var(--first-line-table);
    color: white;
}

.second-line{
    background-color: var(--second-line-table);
}

#interests{
    color: rgba(128, 128, 128, 0.685);
}

.first-image{
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
}

.second-image{
    background-image: url(../img/graph.jpg);
    width: 311px;
    height: 207px;
}

.text-interests{
    color: white;
    font-size: 25px;
    text
}